.link {
    position: relative;
    transition: all 1s ease;
}

.slick-prev::before,.slick-next::before{
    color: black !important;
}
.link::after {
    content: '';
    width: 0%;
    transition: all 1s ease;
    height: 3px;
    overflow: hidden;
    left: 0;
    position: absolute;
    bottom: -2px;
    background: #14a800;
}

.active::after {
    content: '';
    width: 100%;
    transition: all 1s ease;
    height: 3px;
    overflow: hidden;
    left: 0;
    position: absolute;
    bottom: -2px;
    background: #14a800;
}

.link:hover::after {
    width: 100%;
}

.link:hover {
    color: #14a800;
    transform: translateX(5px);
}

.active {
    color: #14a800;
}

.drop-icon {
    transform: all 0.5s ease;
}

.grop-li:hover a {
    display: flex;
    transform: all 0.7s ease;
}

.carousel,
.slider,
.slider-wrapper,
.slider-wrapper {
    height: 100% !important;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1 {
    line-height: normal;
}

.thecard {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.backed {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #015d00;
    background-image: linear-gradient(314deg, #015d00 0%, #04bf00 74%);
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.Flightbacked {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


@keyframes rotat {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.MuiStepLabel-labelContainer, .MuiStepLabel-label{
    color: white !important;
}

.arrow{
    transition: all 0.5s ease;
}
.card:hover .arrow{
    transform: rotate(-30deg);
}

.api-li li{
    list-style: decimal !important;
}